GOOGLE_API_KEY="your api key"

LANGSMITH_API_KEY="your api key"
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="ai agent projects"

OLLAMA_API_KEY="your api key"
WEATHER_API_KEY="your api key"